@import "tailwindcss";

@font-face {
    font-family: 'Host Grotesk';
    src: url('/fonts/HostGrotesk.ttf') format('truetype');
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --background: #ffffff;
    --foreground: #000;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-electric-lime: #E1FF00;
    --color-hot-pink: #FF93FD;
    --color-lime-green: #9DFF00;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: "Host Grotesk", Arial, Helvetica, sans-serif;
}

.carousel-text {
    font-family: 'Host Grotesk', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 62px;

    line-height: 1; /* Use unitless or % like 100% */
    letter-spacing: 0;
    text-align: center;

    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 8px;
    text-decoration-thickness: 1px; /* 0 is invisible, use at least 1px */
    text-decoration-skip-ink: auto;
}

.animate-visible {
    backdrop-filter: blur(10px);
    opacity: 0;
    transform: translateY(60px);
    transition: all 0.8s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}
